# IDE
*.iml
/.idea/

# Gradle
.gradle
/local.properties
/build/
/captures/
/out/

# External build
.externalNativeBuild
.cxx

# OS
.DS_Store

# Keep Gradle wrapper 
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Logs / temp
*.log
